<div class="container">
<div class="jumbotron">
  <h1>Brown Antiques and Books</h1>
  <p>Welcome to Brown Antiques and Books, your one stop shop for all things old.</p>
  <p><%= button_to "Learn More", products_path, {method: 'get', class: "btn btn-primary btn-lg"}%></p>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6"> 
            <h1 class="text-center">View Our Products</h1>
            <div class="panel panel-default">
                <div class="panel-body">
        
                    <br/>
                    <p>
                        Our products are of the highest quality. We pride ourselves on finding the finest antiques goods.
                    </p>
                    <br/>
                    <%= button_to "Products", products_path, {method: 'get', class: "btn btn-primary"} %>
                </div>
            </div>
        </div>
        
        <div class="col-md-6"> 
            <h1 class="text-center">Placeholder</h1>
            <div class="panel panel-default">
                <div class="panel-body">
        
                    <br/>
                    <p>
                        Lorem ipsum!
                    </p>
                    <br/>
                    <%= button_to "Products", products_path, :class => "btn btn-primary" %>
                </div>
            </div>
        </div>
    </div>
</div>